<!--Index.html-->

<html ng-app="app">
    <head>
        <title>Notes</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script><!-- load angular -->
        <script src="main.controller.js"></script>
    </head>

    <body ng-controller="AppCtrl">
        <div class="container">
            <h1>Welcome to easy Notes!</h1>
            <h2>Click here to view your notes</h2>
            <button ng-click="viewNotes()">View</button>
        </div>
    </body>
</html>